/* modal */

.modal-header {
    border-bottom: none;

    background-color: #f5f5f5;
}

.modal-footer {
    border-top: none;
    background-color: #f5f5f5;
}


.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.modal-header .h4, 
.modal-header h4 {
    font-size: 1rem;
}

.modal-title svg {
    margin-right: 11px;
}