/* profilecard.css */
/* .mpg-profile-card {

    display: flex;
    
    flex-direction: row;
    flex-wrap: nowrap;
    
    padding: 7px 8px 8px 7px;
    margin-bottom: 15px;

}

.mpg-profile-card > div {

    align-items: top;
    margin: 8px 7px 7px 8px;

}

.mpg-profile-card > div:first-child {

    display: flex;
    
    font-weight: bold;
    justify-content: center;
    
    text-align: center;
}

.mpg-profile-card > div:last-child {

    flex-grow: 1
    
} */
