.audio-context {

    display: flex;

    justify-content: center;
    
    align-items: center;
    align-content: stretch;

    flex-flow: row wrap;

    /* flex-direction: row; */
    /* flex-wrap: wrap; */

    box-sizing: border-box;

    /* border: 10px solid #2b2f38; */
    padding: 5px;
    
    color: rgba(255,255,255,0.05);

    
    background-image: linear-gradient(135deg, #282c34 25%, #2b2f38 25%, #2b2f38 50%, #282c34 50%, #282c34 75%, #2b2f38 75%, #2b2f38 100%);
    background-size: 28.28px 28.28px;


}