.analyzer {
    /* background-color: rgba(0,0,0,0.5); */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.column > .analyzer,
.rack > .analyzer {
    position: relative;
    height: 40px;
}

.analyzer-canvas {
    background-color: rgba(20,20,20,0.8);
    box-sizing: border-box;
}