.oscillator {

    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: row; */
    /* align-items: center; */

    box-sizing: border-box;
        
    color: rgba(255,255,255,1);

    /* margin: 7px; */

    position: relative;
    /* min-width: 46px; */
    height: 60px;
    
    /* border: 1px solid rgba(255, 255, 255, 1); */

    /* font-size: 50%; */

    /* background-color: rgba(0,0,0,0.5); */

}
