.transport {

    display: flex;

    justify-content: center;
    
    align-items: center;
    align-content: stretch;

    flex-flow: row wrap;

    /* flex-direction: row; */
    /* flex-wrap: wrap; */

    box-sizing: border-box;

    /* border: 10px solid #2b2f38; */
    padding: 5px;
    
    color: rgba(255,255,255,0.05);



}